{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Coding Club IIT Ropar">
    <meta property="og:description" content="Official website">
    <meta property="og:image" content="{% static 'images/logo-new.jpg' %}">
    <meta property="og:image:alt" content="Coding Club">
    <meta property="og:url" content="https://thecodingclub.vercel.app/">
    <meta name="twitter:card" content="Official website">

    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home/base.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;900&family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">    {% block cssfiles %}
    {% endblock cssfiles %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div id="bg" class="prevent-select">
      <img src="{% static 'images/bg.jpg' %}" alt="Backgroud Image">
    </div>


    <nav>
      <div class="hamburger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
      </div>
      <ul class="nav-links prevent-select glow-text">
          <li><a href="/">Home</a></li>
          <li><a href="/events">Events</a></li>
          <li><a href="/coders">Coder of the Month</a></li>
          <li><a href="/team">Meet the Team</a></li>
          <li><a href="/alumni">Alumni</a></li>
          <li><a href="/login">Login</a></li>
          <!-- <li><a href="#">Team 2021</a></li> -->
          <!-- <li><a href="#">Contact Us</a></li> -->
          <!-- <li><a href="#">Sign Up</a></li> -->
          <!-- <li><button class="login-button" href="#">Login</button></li>
          <li><button class="join-button" href="#">Sign Up</button></li> -->
      </ul>
    </nav>


    <div id="main">

      <content>

        {% block content %}

        {% endblock content %}

      </content>

      
      <footer>
        <p>
          Copyright &copy; 2023 - The Coding Club - IIT Ropar
        </p>
      </footer>
    </div>
    




    <script>
      (function(){

        var parallax = document.querySelectorAll("#bg > img"), speed = 0.3;
        {% block parallaxspeed %}
        {% endblock parallaxspeed %}


        window.onscroll = function(){
          [].slice.call(parallax).forEach(function(el,i){

            var windowYOffset = window.pageYOffset,
                elBackgrounPos = "" + (windowYOffset * speed * -1) + "px";

            el.style.top = elBackgrounPos;

          });
        };

        })();
    </script>

    <script src="{% static 'js/home/nav.js' %}"></script>
    
    <script src="{% static 'js/home/vanilla-tilt.min.js' %}"></script>

    <script>
      VanillaTilt.init(document.querySelectorAll(".card"), {
        glare: true,
        reverse: true,
        "max-glare": 0.05,
      });
    </script>
  </body>
</html>
