{% extends 'home/base.html' %}

{% load static %}

{% block title %}Coder of the Month{% endblock title %}


{% block cssfiles %}
    <link rel="stylesheet" href="{% static 'css/home/coders.css' %}"/>
    <script>
        var data = {
      "1": [
          {
              "handle": "dhruvgupta03",
              "name": "Csbiitrpr.Ac.In",
              "score": "63.28",
              "rank": "1",
              "ratings": "1198"
          },
          {
              "handle": "Muditgupta24",
              "name": "Mudit Gupta",
              "score": "46.49",
              "rank": "2",
              "ratings": "1038"
          },
          {
              "handle": "OverRancid",
              "name": "Akshat Nagpal",
              "score": "43.19",
              "rank": "3",
              "ratings": "1126"
          },
          {
              "handle": "Moksh2004",
              "name": "Moksh Kandpal",
              "score": "43.04",
              "rank": "4",
              "ratings": "1098"
          },
          {
              "handle": "Coderanger1826",
              "name": "Siddharth",
              "score": "42.34",
              "rank": "5",
              "ratings": "926"
          },
          {
              "handle": "D.I.V.S",
              "name": "Divyanshu Sharma",
              "score": "37.78",
              "rank": "6",
              "ratings": "951"
          },
          {
              "handle": "Aayan20004",
              "name": "Aayan Soni",
              "score": "29.85",
              "rank": "7",
              "ratings": "974"
          },
          {
              "handle": "2022mcb1269",
              "name": "Krushna Goel",
              "score": "27.32",
              "rank": "8",
              "ratings": "834"
          },
          {
              "handle": "utkarshpatel7355",
              "name": "Utkarsh Patel",
              "score": "26.34",
              "rank": "9",
              "ratings": "974"
          },
          {
              "handle": "arav_1516",
              "name": "Arav Bhargava",
              "score": "23.14",
              "rank": "10",
              "ratings": "986"
          },
          {
              "handle": "Aditya_2004",
              "name": "Aditya Garg",
              "score": "23.05",
              "rank": "11",
              "ratings": "986"
          },
          {
              "handle": "satvik_15",
              "name": "Satvik Srivastava",
              "score": "19.63",
              "rank": "12",
              "ratings": "980"
          },
          {
              "handle": "1419__",
              "name": "Sarthak Dev Rathor",
              "score": "19.04",
              "rank": "13",
              "ratings": "876"
          },
          {
              "handle": "yuman03",
              "name": "Mohd Yuman",
              "score": "16.36",
              "rank": "14",
              "ratings": "901"
          },
          {
              "handle": "Levi_0107",
              "name": "Swayam Mishra",
              "score": "15.75",
              "rank": "15",
              "ratings": "898"
          },
          {
              "handle": "2022chb1037",
              "name": "Abhishek Gonnade",
              "score": "15.05",
              "rank": "16",
              "ratings": "652"
          },
          {
              "handle": "Jigisha1603",
              "name": "Jigisha Arora",
              "score": "14.09",
              "rank": "17",
              "ratings": "788"
          },
          {
              "handle": "rakshitkaushal899",
              "name": "Rakshit Kaushal",
              "score": "13.4",
              "rank": "18",
              "ratings": "922"
          },
          {
              "handle": "kavyansh1382",
              "name": "Kavyansh Dhakad",
              "score": "13.37",
              "rank": "19",
              "ratings": "772"
          },
          {
              "handle": "harsh26iitrpr",
              "name": "Harsh Patidar",
              "score": "12.71",
              "rank": "20",
              "ratings": "898"
          },
          {
              "handle": "Piyush183",
              "name": "Piyush",
              "score": "11.74",
              "rank": "21",
              "ratings": "771"
          },
          {
              "handle": "yashasviyadav",
              "name": "Yashasvi Yadav",
              "score": "11.58",
              "rank": "22",
              "ratings": "872"
          },
          {
              "handle": "Hilarious_Ashish",
              "name": "Ashish Gupta",
              "score": "11.41",
              "rank": "23",
              "ratings": "911"
          },
          {
              "handle": "TitanCoder1258",
              "name": "Anurag Amchi",
              "score": "10.28",
              "rank": "24",
              "ratings": "775"
          },
          {
              "handle": "FaizMohd",
              "name": "Faiz Mohd",
              "score": "9.98",
              "rank": "25",
              "ratings": "816"
          },
          {
              "handle": "prashant_370",
              "name": "Prashant Kumar",
              "score": "9.05",
              "rank": "26",
              "ratings": "963"
          },
          {
              "handle": "2022mcb1273",
              "name": "Nimish Sehgal",
              "score": "8.35",
              "rank": "27",
              "ratings": "750"
          },
          {
              "handle": "keshav_iitrpr",
              "name": "Keshav Bansal",
              "score": "8.11",
              "rank": "28",
              "ratings": "611"
          },
          {
              "handle": "Keshav83",
              "name": "Keshav Pareek",
              "score": "6.92",
              "rank": "29",
              "ratings": "748"
          },
          {
              "handle": "Nishant984",
              "name": "Nishant Patil",
              "score": "6.75",
              "rank": "30",
              "ratings": "809"
          },
          {
              "handle": "nikhil1203",
              "name": "A.D.V.M.S.Nikhil",
              "score": "6.64",
              "rank": "31",
              "ratings": "715"
          },
          {
              "handle": "Saiyaswanthm",
              "name": "Murru Sai Yaswanth",
              "score": "6.55",
              "rank": "32",
              "ratings": "588"
          },
          {
              "handle": "2022csb1090",
              "name": "Manish Anwla",
              "score": "5.37",
              "rank": "33",
              "ratings": "614"
          },
          {
              "handle": "somi2011",
              "name": "Soumy Bisht",
              "score": "5.1",
              "rank": "34",
              "ratings": "375"
          },
          {
              "handle": "aryan7785",
              "name": "Aryan Verma",
              "score": "4.1",
              "rank": "35",
              "ratings": "603"
          },
          {
              "handle": "Legiit",
              "name": "Raj Yadav",
              "score": "3.36",
              "rank": "36",
              "ratings": "365"
          },
          {
              "handle": "_swapnilpandey_2210",
              "name": "Swapnil Pandey",
              "score": "2.85",
              "rank": "37",
              "ratings": "400"
          },
          {
              "handle": "Kvenkat910",
              "name": "Venkat Kommina",
              "score": "2.54",
              "rank": "38",
              "ratings": "350"
          },
          {
              "handle": "vrushank_ahire",
              "name": "Vrushank Ajay Ahire",
              "score": "1.9",
              "rank": "39",
              "ratings": "358"
          },
          {
              "handle": "Jay_Goel",
              "name": "Jay Goel",
              "score": "1.86",
              "rank": "40",
              "ratings": "563"
          },
          {
              "handle": "SH_989",
              "name": "Shweta Maurya",
              "score": "1.86",
              "rank": "41",
              "ratings": "563"
          },
          {
              "handle": "Smriti_Gupta26",
              "name": "Smriti Gupta",
              "score": "1.54",
              "rank": "42",
              "ratings": "356"
          },
          {
              "handle": "Tarushi23",
              "name": "Tarushi Taneja",
              "score": "1.5",
              "rank": "43",
              "ratings": "356"
          },
          {
              "handle": "anshraj4324",
              "name": "Ansh Raj",
              "score": "1.34",
              "rank": "44",
              "ratings": "355"
          },
          {
              "handle": "2022chb1046",
              "name": "Chahat",
              "score": "1.08",
              "rank": "45",
              "ratings": "353"
          },
          {
              "handle": "vismay_walde",
              "name": "Walde Vismay Bharat",
              "score": "0.71",
              "rank": "46",
              "ratings": "351"
          },
          {
              "handle": "aksahil69",
              "name": "Aniket Kumar Sahil",
              "score": "0.7",
              "rank": "47",
              "ratings": "351"
          },
          {
              "handle": "Suryadeep2004",
              "name": "Suryadeep Mallick",
              "score": "0.61",
              "rank": "48",
              "ratings": "351"
          },
          {
              "handle": "jatin_317",
              "name": "Jatin Goel",
              "score": "0.44",
              "rank": "49",
              "ratings": "350"
          },
          {
              "handle": "kush2803",
              "name": "Kush Mahajan",
              "score": "0.4",
              "rank": "50",
              "ratings": "344"
          },
          {
              "handle": "Aryan1892004",
              "name": "Aryan Jain",
              "score": "0.4",
              "rank": "51",
              "ratings": "561"
          },
          {
              "handle": "avitej123",
              "name": "Wagh Tejas Rajendra",
              "score": "0.4",
              "rank": "52",
              "ratings": "561"
          },
          {
              "handle": "ms1908539",
              "name": "Mohit Sharma",
              "score": "0.4",
              "rank": "53",
              "ratings": "344"
          },
          {
              "handle": "Nishant0310",
              "name": "Nishant Malhotra",
              "score": "0.4",
              "rank": "54",
              "ratings": "344"
          },
          {
              "handle": "2022mmb1375",
              "name": "Dheeravath Sathwik",
              "score": "0.4",
              "rank": "55",
              "ratings": "344"
          },
          {
              "handle": "nav_yuvak_",
              "name": "Aditya Pal",
              "score": "0.4",
              "rank": "56",
              "ratings": "564"
          },
          {
              "handle": "Bhavanacodes99",
              "name": "Bhavana Ginuga",
              "score": "0.4",
              "rank": "57",
              "ratings": "564"
          },
          {
              "handle": "AmitojSingh23",
              "name": "Amitoj Singh Anand",
              "score": "0.4",
              "rank": "58",
              "ratings": "344"
          },
          {
              "handle": "vasuram",
              "name": "Ajmeera Vasu Ram",
              "score": "0.4",
              "rank": "59",
              "ratings": "344"
          }
      ],
      "2": [
          {
              "handle": "prashant135",
              "name": "Prashant Singh",
              "score": "85.45",
              "rank": "1",
              "ratings": "1604"
          },
          {
              "handle": "Nipun_Jugran",
              "name": "Nipun Jugran",
              "score": "84.11",
              "rank": "2",
              "ratings": "1533"
          },
          {
              "handle": "AdityaTapse",
              "name": "Aditya Anil Tapse",
              "score": "73.24",
              "rank": "3",
              "ratings": "1368"
          },
          {
              "handle": "Dhruv_Garg07",
              "name": "Dhruv Garg",
              "score": "72.09",
              "rank": "4",
              "ratings": "1313"
          },
          {
              "handle": "anjkk01",
              "name": "Anuj Gupta",
              "score": "61.78",
              "rank": "5",
              "ratings": "1506"
          },
          {
              "handle": "Sahil_1408",
              "name": "Sahil",
              "score": "60.85",
              "rank": "6",
              "ratings": "1317"
          },
          {
              "handle": "hardik78",
              "name": "Hardik Aggarwal",
              "score": "57.51",
              "rank": "7",
              "ratings": "1455"
          },
          {
              "handle": "Tanmyap21",
              "name": "Tanmya Potdar",
              "score": "55.34",
              "rank": "8",
              "ratings": "1195"
          },
          {
              "handle": "Atharva_2152",
              "name": "Atharva Suhas Mulay",
              "score": "54.02",
              "rank": "9",
              "ratings": "1361"
          },
          {
              "handle": "Gyanendra_512",
              "name": "Gyanendra Mani",
              "score": "51.24",
              "rank": "10",
              "ratings": "1100"
          },
          {
              "handle": "Adityak2507",
              "name": "Aditya Kumar Sahu",
              "score": "50.34",
              "rank": "11",
              "ratings": "1291"
          },
          {
              "handle": "Ankit3388",
              "name": "Ankit Kumar",
              "score": "46.93",
              "rank": "12",
              "ratings": "835"
          },
          {
              "handle": "Nakul_NRA",
              "name": "Nakul Alawadhi",
              "score": "46.28",
              "rank": "13",
              "ratings": "1276"
          },
          {
              "handle": "Vipul_221",
              "name": "Vipul Patil",
              "score": "44.8",
              "rank": "14",
              "ratings": "1170"
          },
          {
              "handle": "Kushagra_18",
              "name": "Kushagra Sharma",
              "score": "43.1",
              "rank": "15",
              "ratings": "1245"
          },
          {
              "handle": "ananydhamija507",
              "name": "Anany Dhamija",
              "score": "42.74",
              "rank": "16",
              "ratings": "1652"
          },
          {
              "handle": "Anshul_Mittal",
              "name": "Anshul Mittal",
              "score": "40.53",
              "rank": "17",
              "ratings": "1440"
          },
          {
              "handle": "Ritesh_p",
              "name": "Ritesh Patil",
              "score": "39.13",
              "rank": "18",
              "ratings": "1195"
          },
          {
              "handle": "AJtheDeMoN",
              "name": "Ajaybeer Singh",
              "score": "39.0",
              "rank": "19",
              "ratings": "1253"
          },
          {
              "handle": "patilsumitpravinkumar",
              "name": "Sumit Patil",
              "score": "38.43",
              "rank": "20",
              "ratings": "1387"
          },
          {
              "handle": "nitesh_kumar3433",
              "name": "Nitesh Kumar",
              "score": "37.58",
              "rank": "21",
              "ratings": "1134"
          },
          {
              "handle": "Aani_Saraf",
              "name": "Aaniranjan Saraf",
              "score": "35.07",
              "rank": "22",
              "ratings": "722"
          },
          {
              "handle": "itspunkaj",
              "name": "Pankaj Singh",
              "score": "30.86",
              "rank": "23",
              "ratings": "1237"
          },
          {
              "handle": "keshav_agg",
              "name": "Keshav Aggarwal",
              "score": "29.64",
              "rank": "24",
              "ratings": "1208"
          },
          {
              "handle": "_prince12",
              "name": "Prince Gupta",
              "score": "29.44",
              "rank": "25",
              "ratings": "891"
          },
          {
              "handle": "ayushsahu_123",
              "name": "Ayush Sahu",
              "score": "24.02",
              "rank": "26",
              "ratings": "1227"
          },
          {
              "handle": "nishaddhuri",
              "name": "Nishad Hemant Dhuri",
              "score": "21.55",
              "rank": "27",
              "ratings": "891"
          },
          {
              "handle": "HarshRaj29",
              "name": "Harsh Raj Srivastava",
              "score": "20.37",
              "rank": "28",
              "ratings": "1367"
          },
          {
              "handle": "kartik15072004",
              "name": "Kartik",
              "score": "18.92",
              "rank": "29",
              "ratings": "1380"
          },
          {
              "handle": "Divyankar",
              "name": "Divyankar Shah",
              "score": "15.3",
              "rank": "30",
              "ratings": "939"
          },
          {
              "handle": "Akanksh_Caimi",
              "name": "Akanksh Caimi",
              "score": "12.79",
              "rank": "31",
              "ratings": "993"
          }
      ],
      "3": [
          {
              "handle": "Katik1240",
              "name": "Kartik Kumar Garg",
              "score": "48.47",
              "rank": "1",
              "ratings": "1684"
          },
          {
              "handle": "brainstorm56",
              "name": "Abhinav Gupta",
              "score": "47.51",
              "rank": "2",
              "ratings": "1397"
          },
          {
              "handle": "dragonball_Z",
              "name": "Avnish Kumar",
              "score": "26.69",
              "rank": "3",
              "ratings": "1012"
          },
          {
              "handle": "rohankhanna.iit",
              "name": "Rohan Khanna",
              "score": "20.04",
              "rank": "4",
              "ratings": "1430"
          },
          {
              "handle": "vinayak_1377",
              "name": "Vinayak Sahu",
              "score": "8.08",
              "rank": "5",
              "ratings": "1107"
          }
      ],
      "4": [
          {
              "handle": "nee.dwi19",
              "name": "Neeraj Dwivedi",
              "score": "81.85",
              "rank": "1",
              "ratings": "1514"
          },
          {
              "handle": "iDevang25",
              "name": "Devang",
              "score": "80.69",
              "rank": "2",
              "ratings": "1405"
          },
          {
              "handle": "karan_cpp_py",
              "name": "Karan Singh",
              "score": "68.23",
              "rank": "3",
              "ratings": "1347"
          },
          {
              "handle": "introvert_0911",
              "name": "Saisri Angajala",
              "score": "54.88",
              "rank": "4",
              "ratings": "1154"
          },
          {
              "handle": "ShanuSingroha",
              "name": "Shanu Singroha",
              "score": "21.59",
              "rank": "5",
              "ratings": "1672"
          },
          {
              "handle": "kk_001",
              "name": "Keshav Krishna",
              "score": "19.34",
              "rank": "6",
              "ratings": "1427"
          },
          {
              "handle": "gattadi_vivek",
              "name": "Gattadi Vivek",
              "score": "14.98",
              "rank": "7",
              "ratings": "1067"
          }
      ]
  }
    </script>
{% endblock %}


{% block content %}

    <div class="heading">
        <h1>Coder of the Month</h1>
    </div>
    <div class="tabs">
    <div class="tab-header">
    <div class="active year">1st year</div>
    <div class="year">2nd year</div>
    <div class="year">3rd year</div>
    <div class="year">4th year, M.Tech &amp; Phd</div>
    </div>

    <div class="tab-indicator"></div>
    <div class="rankings">
    <div id ="year1" class="omega active"></div>
    <div id="year2" class="alpha"></div>
    <div id="year3" class="beta"></div>
    <div id="year4" class="gamma"></div>
    </div>
    </div>

    <script>
        document.getElementById('main').style.height = '500vh';
    </script>
    
    <script src="{% static 'js/home/coders.js' %}"></script>

{% endblock %}


{% block parallaxspeed %}
    speed = 0.2;
{% endblock %}

