{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Coding Club</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home/login.css' %}">
  </head>
  <body>
    
    <div class="login-box">
        <div style="display: flex; justify-content: center; margin: 1rem">
            <img style="cursor: pointer; width: 100px; border-radius: 30%" onclick="window.location='/';" src="{% static 'images/Logo Small.png' %}" class="avatar">
        </div>
        <h1 style="cursor: pointer;" onclick="window.location='/';">Coding Club</h1>
        <form>
            <div class="user-box">
            <input type="text" name="" required="">
            <label>Entry No. <i>(Example: 2021csb1066)</i></label>
            </div>
            <div class="user-box">
                <input type="password" name="" required="">
                <label>Password</label>
            </div>
            <div style="width: 100%; display: flex; justify-content: space-between;">
                <a class="neon-blue" href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div style="width: 100%; display: flex; justify-content: center;">
                    <b>Login</b>
                </div>
                </a>
            </div>
            <div style="width: 100%; display: flex; justify-content: space-between;">
                <a class="neon-red" style="margin-top: 1rem; font-size: 1rem; color: white; font-family: sans-serif;">
                    <div style="cursor: pointer; display: flex; text-align: center; justify-content: center; align-items: center;">
                        Forgot Password
                    </div>
                </a>
                <a class="neon-fuchsia" style="margin-top: 1rem; font-size: 1rem; color: white; font-family: sans-serif;">
                    <div style="cursor: pointer; display: flex; text-align: center; justify-content: center; align-items: center;">
                        Sign<br>Up
                    </div>
                </a>
            </div>
        </form>
    </div>
    <div class="underlay-photo" style="background: url({% static 'images/login_bg.jpg' %});" ></div>
    <div class="underlay-black"></div>
  </body>
</html>
