{% extends 'home/base.html' %}

{% load static %}

{% block title %}Team | Coding Club{% endblock title %}


{% block cssfiles %}
    <link rel="stylesheet" href="{% static 'css/home/team.css' %}"/>
{% endblock %}


{% block content %}

    <div class="card rgb">
        <div class="card-image" style="background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%),url('{% static 'images/img1.jpg' %}');"></div>
        <div class="card-text">
            <div class="fullname-text">Anant Prakash Singh</div>
            <p>Representative</p>
            <div class="social-media">
                <a href="#" class="fa fa-github-square github zoom-upon-hover" id="github"></a>
                <span class="date">Pupil</span>
                <a href="#" class="fa fa-linkedin zoom-upon-hover" id="linkedin"></a>
                <!-- <a href="#" class="fa fa-instagram zoom-upon-hover" id="instagram"></a> -->
                <!-- <a href="#" class="fa fa-facebook-square zoom-upon-hover" id="facebook"></a> -->
            </div>
        </div>
    </div>

    <div class="card rgb">
        <div class="card-image" style="background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%),url('{% static 'images/img1.jpg' %}');"></div>
        <div class="card-text">
            <div class="fullname-text">Anant Prakash Singh</div>
            <p>Representative</p>
            <div class="social-media">
                <a href="#" class="fa fa-github-square github zoom-upon-hover" id="github"></a>
                <span class="date">Pupil</span>
                <a href="#" class="fa fa-linkedin zoom-upon-hover" id="linkedin"></a>
                <!-- <a href="#" class="fa fa-instagram zoom-upon-hover" id="instagram"></a> -->
                <!-- <a href="#" class="fa fa-facebook-square zoom-upon-hover" id="facebook"></a> -->
            </div>
        </div>
    </div>

    <div class="card rgb">
        <div class="card-image" style="background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%),url('{% static 'images/img1.jpg' %}');"></div>
        <div class="card-text">
            <div class="fullname-text">Anant Prakash Singh</div>
            <p>Representative</p>
            <div class="social-media">
                <a href="#" class="fa fa-github-square github zoom-upon-hover" id="github"></a>
                <span class="date">Pupil</span>
                <a href="#" class="fa fa-linkedin zoom-upon-hover" id="linkedin"></a>
                <!-- <a href="#" class="fa fa-instagram zoom-upon-hover" id="instagram"></a> -->
                <!-- <a href="#" class="fa fa-facebook-square zoom-upon-hover" id="facebook"></a> -->
            </div>
        </div>
    </div>

    <div class="card rgb">
        <div class="card-image" style="background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%),url('{% static 'images/img1.jpg' %}');"></div>
        <div class="card-text">
            <div class="fullname-text">Anant Prakash Singh</div>
            <p>Representative</p>
            <div class="social-media">
                <a href="#" class="fa fa-github-square github zoom-upon-hover" id="github"></a>
                <span class="date">Pupil</span>
                <a href="#" class="fa fa-linkedin zoom-upon-hover" id="linkedin"></a>
                <!-- <a href="#" class="fa fa-instagram zoom-upon-hover" id="instagram"></a> -->
                <!-- <a href="#" class="fa fa-facebook-square zoom-upon-hover" id="facebook"></a> -->
            </div>
        </div>
    </div>

    <div class="card rgb">
        <div class="card-image" style="background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%),url('{% static 'images/img1.jpg' %}');"></div>
        <div class="card-text">
            <div class="fullname-text">Anant Prakash Singh</div>
            <p>Representative</p>
            <div class="social-media">
                <a href="#" class="fa fa-github-square github zoom-upon-hover" id="github"></a>
                <span class="date">Pupil</span>
                <a href="#" class="fa fa-linkedin zoom-upon-hover" id="linkedin"></a>
                <!-- <a href="#" class="fa fa-instagram zoom-upon-hover" id="instagram"></a> -->
                <!-- <a href="#" class="fa fa-facebook-square zoom-upon-hover" id="facebook"></a> -->
            </div>
        </div>
    </div>

{% endblock %}
