.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    font-size: 1.2rem;
    font-weight: 600;
    color: #f2f5f7;
    text-shadow: 0 0 20px #000;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }