@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Ubuntu&display=swap);

* {
  margin: 0px;
  padding: 0px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  font-size: 1.2rem;
  font-weight: 600;
  text-shadow: 0 0 20px #000;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.events {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  color: white;
  justify-content: space-evenly;
}

.event-block {
  margin: 10px;
  backdrop-filter: blur(50px);
  padding: 20px;
  width: min(23rem, 90%);
  height: auto;
  border: #435B66 0.5rem ridge;
  transition: 0.3s ease-in-out;
  background-color: rgba(53, 44, 52, 0.6);
}

.event-block:hover {
  box-shadow: 0 0 5px #083D5C, 0 0 25px #083D5C, 0 0 50px #083D5C, 0 0 100px #083D5C;
  scale: 1.03;
}

.event-image {
  height: 10rem;
  width: 17rem;
  display: block;
  margin: auto;
  position: relative;
}

.event-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
  z-index: -1; 
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.event-image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.event-details {
  margin-top: 2rem;
  font-size: 1.1rem;
  font-weight: 200;
}

.regular-text {
  font-weight: 300;
}
