.tabs {
  width: 100vw;

}

.tab-header {
  display: flex;
  align-items: center;
  height: 40px;
}

.year {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  color: white;
  width: calc(100% / 4);
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.1s;
  background-color: transparent;
}

.year:hover,
.year.active,
.year:active {
  color: darkturquoise;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.tab-header>div.active {
  color: #61dafb;
}

.tab-indicator {
  position: relative;
  z-index: 0;
  width: calc(100%/4);
  height: 5px;
  border-radius: 3px;
  background-color: #61dafb;
}

.rankings {
  position: fixed;
  height: calc(100% -60px);
  padding: 20px;
}

.rankings>div {
  position: absolute;
  visibility: hidden;
  transition: opacity 500ms ease-in-out 0ms, transform 500ms ease-in-out 0ms;
}

.rankings>div.active {
  visibility: visible;
  margin-top: 0px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  font-size: 1.2rem;
  font-weight: 600;
  color: #f2f5f7;
  text-shadow: 0 0 20px #000;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

@media screen and (max-width: 1200px) {
  .heading {
    font-size: 1rem;
  }
}

.wrapper .box {
  position: relative;
  width: 70vw;
  height: 7vh;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgb(30, 30, 30);
  transform-style: preserve-3d;
  transform: perspective(800px);
  z-index: 1;
}

.wrapper {
  width: 96.5%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  padding-left: 10px;
  padding-right: 20px;
  cursor: pointer;
}

.box:hover {
  transform: scale(1.01);
  transition: all 0.2s ease;
}

.first::after {
  content: "";
  position: absolute;
  inset: -5px;
  border-radius: 16px;
  filter: blur(3px);
  background: linear-gradient(45deg,
      #ff9a00 0%,
      #de9321 33%,
      #eaff00 66%,
      #ff9a00 100%) repeat 0% 0% / 300% 100%;
  transform: translateZ(-1px);
  animation: rgb 4s linear infinite;
}

.second::after {
  content: "";
  position: absolute;
  inset: -5px;
  border-radius: 16px;
  filter: blur(3px);
  background: linear-gradient(45deg,
      #3fdad8 0%,
      #2fc9e2 25%,
      #1c7fee 50%,
      #5f15f2 75%,
      #3fdad8 100%) repeat 0% 0% / 300% 100%;
  transform: translateZ(-1px);
  animation: rgb 6s linear infinite;
}

.third::after {
  content: "";
  position: absolute;
  inset: -5px;
  border-radius: 16px;
  filter: blur(3px);
  background: linear-gradient(45deg,
      #756300 0%,
      rgb(142, 142, 5) 50%,
      rgb(137, 83, 29) 100%) repeat 0% 0% / 300% 100%;
  transform: translateZ(-1px);
  animation: rgb 3s linear infinite;
}

@keyframes rgb {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.extra {
  margin-top: 200px;
  margin-bottom: 200px;
}

.rank {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 5%;
  min-width: 50px;
}

.rank img {
  height: 100%;
}

.rank p {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 10px #000;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 40%;
}

.name p {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 10px #000;
}

.handle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 35%;
}

.handle a {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 10px #000;
  text-decoration: none;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 10%;
}

.score p {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 10px #000;
}

@media screen and (max-width: 1200px) {
  .rank p {
    font-size: 1rem;
  }

  .name p {
    font-size: 1rem;
  }

  .handle {
    display: none;
  }

  .score p {
    font-size: 1rem;
  }

  .name {
    width: 60%;
  }
}

.grandmaster {
  color: #ff1a1a !important
}

.master {
  color: #ff981a !important
}

.candidate-master {
  color: #ff55ff !important
}

.expert {
  color: #337dff !important
}

.specialist {
  color: #57fcf2 !important
}

.pupil {
  color: #46F346 !important
}

.newbie {
  color: #988f81 !important
}

.green {
  color: green;
}

.black {
  color: #000 !important;
  font-weight: 400 !important
}

.user-legendary::first-letter {
  color: #000 !important
}

.legendary-first-letter {
  color: #000 !important
}

.red {
  color: red !important
}

.fire {
  color: red !important
}

.yellow {
  color: #bb0 !important
}

.violet {
  color: #a0a !important
}

.orange {
  color: #ff8c00 !important
}

.blue {
  color: blue !important
}

.cyan {
  color: #03a89e !important
}

.green {
  color: green !important
}

.gray {
  color: gray !important
}

.admin {
  color: #000 !important
}

#sub-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 90vw;
  margin: 0 auto;
  color: grey;
  font-size: 1rem;
  font-weight: 700;
  text-shadow: 0 0 10px #000;
}

#sub-header marquee a {
  color: blueviolet;
}