{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Coding Club, IITRPR">
    <meta property="og:description" content="Official website">
    <meta property="og:image" content="{% static 'images/logo.png' %}">
    <meta property="og:image:alt" content="Coding Club">
    <meta property="og:url" content="https://thecodingclub.vercel.app/">
    <meta name="twitter:card" content="Official website">

    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;900&family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet"> {% block cssfiles %}{% endblock cssfiles %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <div class="background" id="background">
      <div class="gradient"></div>
      <div class="gradient-2"></div>
    </div>
    
    <div id="main">
      <nav>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-links glow-text">
            <li class="nav-logo"><img src="static/images/logo.png">Coding Club</img></li>
            <li><a href="/">Home</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/coders">Coder of the Month</a></li>
            <li><a href="/team">Team</a></li>
            <a class="login-btn" href="/login"><li>Login</li></a>
        </ul>
      </nav>
      
      <div id="loading" class="loading">
        <div class="spinner"></div>
      </div>

      <content id="content" class="content">
        {% block content %}
        {% endblock content %}
      </content>

      <footer>
        <p class="glow-text" style="width: 100vw; text-align: center;">
          Copyright &copy; 2023 Coding Club | Indian Institute of Technology Ropar
        </p>
      </footer>
    </div>
    
    <script>
      (function () {
{% comment %} 
        var parallax = document.querySelectorAll("#bg > img"), speed = 0.3;
        {% block parallaxspeed %}
        {% endblock parallaxspeed %}
    
        window.onscroll = function () {
            [].slice.call(parallax).forEach(function (el, i) {
                var windowYOffset = window.pageYOffset,
                    elBackgrounPos = "" + (windowYOffset * speed * -1) + "px";
                el.style.top = elBackgrounPos;
            });
        }; {% endcomment %}
    
      })();
    </script>
    <script src="{% static 'js/background.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
  </body>
</html>
